@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower:wght@300;400;500&display=swap');

.as-page-container {
  background-image: url('/Users/macintoshhd/Documents/Open Woods/open-woods-app-new/src/images/Bankhead_National_Forest_Topo_tav_v6jpg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  height: 90vh;
  display: flex;
  width: 100vw;
}
