@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower:wght@300;400;500&display=swap');

.as-page-container {
  background-image: url('/Users/macintoshhd/Documents/Open Woods/open-woods-app-new/src/images/Bankhead_National_Forest_Topo_tav_v6jpg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;

  /* border: 1px solid red; */
  height: 90vh;
  display: flex;
  width: 100vw;
}

.as-input-container {
  display: flex;
  width: 100vw;
}

.as-output-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  justify-content: end !important;
  height: 100%;
  width: 100vw;
}

.as-arrowhead-img {
  width: 5%;
  height: 40%;
}

.as-deer-image-container {
  align-items: center;
  justify-content: top;
  display: flex;
  padding-bottom: 0;
  height: 80vh;
  width: 100%;
  flex-direction: column;
}

.as-deer-image-and-buttons {
  display: flex;
  background-color: rgba(197, 227, 218, 0) !important; 
  flex-direction: column;
  justify-content: center;
  padding-top: 2.5em;
  padding-bottom: 1.5em;
  border-radius: 25px !important;
  height: 60%;
  width: 40%;
  flex-direction: column;
}

.form-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0); /* Adjust the alpha value as needed */
  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 1rem;
  font-weight: 600; /* bold font weight */
  letter-spacing: .09em ; /* Adjust the value as needed */
  font-size: 2.7em;
  color: rgb(54, 54, 54);
    line-height: 1; /* reduced line height */
    font-family: 'Open Sans' !important;    
  }


  .activity_icons{
    color: rgb(54, 54, 54,100);
    display: flex;

    justify-content: center;
    align-items: center;
    padding: 1em;
width: 10%!important;
  }

  .form-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 230%;
    background-color: rgba(120, 120, 120, 0); /* Adjust the alpha value as needed */
    margin-top: 1rem;
    font-weight: 650; /* bold font weight */
    font-size: 1.3em;
    color: rgb(37, 37, 37); 

        letter-spacing: .1rem; /* increased letter spacing */
      line-height: 1; /* reduced line height */
      font-family: 'Indie Flower' !important;    
    }
