.App {
  text-align: center;
}

.navbar {
  background-color: rgb(99, 128, 99);
  height: 10vh; /* Adjust the height of the navbar as needed */
  padding: 0; /* Remove padding inside the navbar */
  margin: 0; /* Remove margins from the navbar */
  border: 0; /* Remove borders from the navbar */
  border-radius: 0; /* Remove border radius from the navbar */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem; /* Increase the font-size of the navbar brand text */
  font-weight: bold; /* Increase the font-weight of the navbar brand text */
  color: #fff; /* Change the navbar brand text color */
  text-transform: uppercase; /* Make the navbar brand text uppercase */
  letter-spacing: 0.1em; /* Add letter spacing to the navbar brand text */
  /* position: fixed; */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.logo-container {
height: 100%;
  width: 15%;
  padding: 0 60px !important; /* Remove padding inside the navbar */
  display: flex;
  align-items: center;  
  justify-content: center;
  padding: 0 60px; /* first number = top/bottom second number = left/right */

}

.logo {
  /* width: 150px; Adjust the logo width as needed */
  padding: 0; /* Remove padding inside the navbar */
  height: 100%; /* Set the height of the logo as a percentage of the navbar height */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px; /* Add some spacing between the logo and the navbar brand text if desired */
}

.nav-link_style {
  padding: 0 30px; /* Add padding between the home, about, and contact buttons */
  padding-left: 50px; 

}

@media (max-width: 767px) {
  .logo {
    width: 16px; /* Adjust the logo size for smaller screens if necessary */
  }
}
