.App {
  text-align: center;
}

.navbar {
  background-color: #a0ab8a;
  height: 110px; /* Adjust the height of the navbar as needed */
}

.logo-container {
  display: flex;
  align-items: center;  
  padding: 0 5px; /* Adjust the left and right padding as needed */

}

.logo {
  width: 120px; /* Adjust the logo width as needed */
  height: 100%; /* Set the height of the logo as a percentage of the navbar height */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px; /* Add some spacing between the logo and the navbar brand text if desired */
}

.nav-link_style {
  padding: 0 30px; /* Add padding between the home, about, and contact buttons */
  padding-left: 50px; 

}

@media (max-width: 767px) {
  .logo {
    width: 16px; /* Adjust the logo size for smaller screens if necessary */
  }
}
