.home-container {
  /* border: 1px solid red; */
  height: 90vh;
  display: flex;
  width: 100vw;
}

.home-form-container {
  background-image: url('/Users/macintoshhd/Documents/Open Woods/open-woods-app-new/src/images/woods_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  display: flex;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 3rem;
  /* border: 1px solid green; */
  height: 90vh;
  width: 50%;
  flex-direction: column;


}

.home-form {
  align-items: top;
  background-color: white;
  border-radius: 25px !important;
  display: flex;
  justify-content: center;
  /* border: 3px solid rgb(152, 151, 151); */
  height: 70%;
  width: 90%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}



.form-title {
  font-size: 200%;
  padding: 2rem;
    font-weight: 600; /* bold font weight */
    letter-spacing: 0px; /* increased letter spacing */
    line-height: 1; /* reduced line height */
    font-family: 'Monteresat', sans-serif; 
  }

.form-inputs {
  flex-direction: column;
  align-items: start; /* Change to left alignment */
  font-family: 'Monteresat', sans-serif; 
  font-size: 150%; /* increased font size */
  font-weight: 500; /* bold font weight */
padding-left: 6rem;
padding-right: 6rem;
/* padding-top: 2rem;   
padding-bottom: 4rem;    */

}


  input {
  height: 1rem;
  margin-bottom: 1rem;
}


.submit-button {
  display: flex;
  color: white;
  background-color:  #5cc87dff;
border-color: #5cc87dff;
  flex-direction: row;
  align-items: center;
  justify-content: center;
/* padding-bottom: 2rem  ;    */
}

.submit-button .submit-toggle:focus .submit-button:hover {
  background-color: #a0ab8aff;
  box-shadow: none;
  border-color:  #a0ab8aff; /* Set the custom outline color */
}


.form-output-container {
  flex-direction: row;
  width:100%;
  justify-content: 'space-between';
  align-items: center;
    background-color: white;
    display: flex;
    padding: 0;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 2em;
    margin-right: 2em;

    .price-output {
    }

   


    border-radius: 25px !important;
    width: 40% !important;
    /* border: 3px solid rgb(152, 151, 151); */
    height: 10%;
    width: 100%;
    display: flex;

  }


.total-price-input {
  width: 15%;
}



.home-input-labels {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: start;
}

.home-map-container {
  border: 1px solid green;
  height: 90vh;
  width: 50%;
}

/* make homepage light grey */

img {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 0;
  left: 0;
}

.select {
    float: left;
    position: left;
    width: 30%;
    float: left;
    margin-right: 10px;
    margin-bottom: 12px;
    margin-top: 12px;
    margin-left: 10px;
    padding: 10;
}

.final-price {
  position: absolute;
  bottom: calc(1in + 30px);
  left: 96px;
  right: calc(100% - 330px);
  font-size: 4em;
  font-weight: 600; /* bold font weight */
  letter-spacing: 1px; /* increased letter spacing */
  line-height: 1; /* reduced line height */
  font-family: 'Lato', sans-serif; /* modern sans-serif font.........Helvetica Neue */
}

/* Activity and State NOT BEING USED ANYMORE IN NEW APP*/
/* .dropdown-container {
  display: flex;
  justify-content: left; /* Change to left alignment */
  /* align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
  position: relative;
  left: 10px; */ */
  /* width: 45; */
/* } */

/* Activity and State */
.dropdown-button {
  color:#fe7159ff;
}

/* Activity and State */
.dropdown-button .dropdown-toggle {
  background-color: #fe7159ff;
  height: 40px;
  outline: none;
  box-shadow: none;
  border-radius: 0.5rem; /* Add rounded corners */
  border-color: #fe7159ff; /* Set the custom outline color */

}

/* Activity and State */
.dropdown-button .dropdown-toggle:focus {
  outline: none;
  box-shadow: none;
    border-color: #fe7159ff; /* Set the custom outline color */
}

/* Activity and State */
.dropdown-button .dropdown-toggle:active {
  background-color: #af4f3dff;
  box-shadow: none;
  border-color:  #af4f3dff;/* Set the custom outline color */
}
/* Activity and State */
.selected-item {
  background-color: #778184ff !important;
  color: white;
}
/* Activity and State */
.dropdown-menu .dropdown-item:hover {
  background-color: #778184ff;
  color: white;
}
/* Activity and State */
.dropdown-menu .dropdown-item:active,
.dropdown-menu .dropdown-item:focus {
  background-color: #778184ff;
  color: white;
}
/* Activity and State */
  .form-group label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    text-align: left;
    justify-content: flex-start;
    padding-left: 0; /* Remove the padding on the left */
    margin-right: 10px; /* Add margin to the right to create spacing between the label and container */
  }




/* Acreage and Duration */
.input-field {
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 8px;

  border: 1px solid gray;
  border-radius: 0 4px 4px 0;
  outline: none;
}