
.home-container {
  background-image: url('/Users/macintoshhd/Documents/Open Woods/open-woods-app-new/src/images/woods_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;

  /* border: 1px solid red; */
  height: 90vh;
  display: flex;
  width: 100vw;
}

.home-input-container {
  /* background-image: url('/Users/macintoshhd/Documents/Open Woods/open-woods-app-new/src/images/woods_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  /* border: 1px solid red; */
  height: 75vh;
  display: flex;
  width: 100vw;
}

.home-form-container {
  /* background-image: url('/Users/macintoshhd/Documents/Open Woods/open-woods-app-new/src/images/woods_background.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-position: center; */
  align-items: center;
  justify-content: top;
  display: flex;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 3rem;
  padding-bottom: 0;
  /* border: 1px solid green; */
  height: 80vh;
  width: 50%;
  flex-direction: column;
}

.home-form {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px !important;
  height: 85%;
  width: 85%;
  /* border: 3px solid rgb(152, 151, 151); */
  border-radius: 5px;
  flex-direction: column;
}

.form-title {
  font-size: 190%;
  padding: 1.5rem;
  margin-top: 1rem;
  font-weight: 600; /* bold font weight */
    letter-spacing: 0px; /* increased letter spacing */
    line-height: 1; /* reduced line height */
    font-family: 'Monteresat', sans-serif; 
  }

.form-inputs {
  flex-direction: column;
  align-items: start; /* Change to left alignment */
  font-family: 'Monteresat', sans-serif; 
  font-size: 140%; /* increased font size */
  font-weight: 500; /* bold font weight */
padding-left: 3rem;
padding-right: 3rem;
/* padding-top: 2rem;   
padding-bottom: 4rem;    */
}

.home-map-container {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: top;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 3rem;
  /* padding-bottom: 5rem; */
  height: 80vh;
  width: 50%;

  /* border: 4px solid green; */
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85%;
  width: 85%;
  background-color: white;
  border-radius: 25px !important;
  border: 3px red;
  /* border-radius: 5px; */
}


.map .mapboxgl-canvas {
padding: 1rem;
}


.map .mapboxgl-ctrl { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: bottom;
  /* border: 4px solid red; */
  /* background-color: #ffffff;
  border-radius: 5px; */
  font-size: 12px;
  color: #333333;
}

mapbox-gl-draw_ctrl-draw-btn mapbox-gl-draw_polygon
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.output-container {
  /* background-image: url('/Users/macintoshhd/Documents/Open Woods/open-woods-app-new/src/images/woods_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 20vh;
  width: 100vw;
}

.output-box {
  display: flex;
  font-size: 1.5em;
  font-family: 'Monteresat', sans-serif;
  font-weight:  550; ;

  flex-direction: row;
  background-color: white;
  border-radius: 25px !important;
  height: 60%;
  margin: 0;
  padding-left: 3rem;
  padding-right: 3rem;
  width: 20%;
  justify-content: space-between;
  align-items: center;
  /* border: 4px solid red; */
}

  input {
  height: 1rem;
  margin-bottom: 1rem;
}


.submit-button {
  display: flex;
  color: white;
  background-color:  #5cc87dff;
border-color: #5cc87dff;
  flex-direction: row;
  align-items: center;
  justify-content: center;
/* padding2rem  ;    */
}

.submit-button .submit-toggle:focus .submit-button:hover {
  background-color: #a0ab8aff;
  box-shadow: none;
  border-color:  #a0ab8aff; /* Set the custom outline color */
}



.form-output-container {
  flex-direction: row;
  width:100%;
  justify-content: 'space-between';
  align-items: center;
    background-color: white;
    display: flex;
    padding: 0;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 2em;
    margin-right: 2em;

    .price-output {
      
    }

    border-radius: 25px !important;
    width: 40% !important;
    /* border: 3px solid rgb(152, 151, 151); */
    height: 10%;
    width: 100%;
    display: flex;
  }


.total-price-input {
  width: 15%;
}



.home-input-labels {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: start;
}



/* 
<button class="mapbox-gl-draw_ctrl-draw-btn mapbox-gl-draw_polygon" title="Polygon tool (p)"></button>
<div class="mapboxgl-ctrl-bottom-left"><div class="mapboxgl-ctrl" style="display: block;"><a class="mapboxgl-ctrl-logo" target="_blank" rel="noopener nofollow" href="https://www.mapbox.com/" aria-label="Mapbox logo"></a></div></div>
<div class="mapboxgl-ctrl-bottom-right"><div class="mapboxgl-ctrl mapboxgl-ctrl-attrib mapboxgl-compact mapboxgl-compact-show"><button class="mapboxgl-ctrl-attrib-button" type="button" aria-label="Toggle attribution" aria-expanded="true"><span class="mapboxgl-ctrl-icon" aria-hidden="true" title="Toggle attribution"></span></button><div class="mapboxgl-ctrl-attrib-inner" role="list"><a href="https://www.mapbox.com/about/maps/" target="_blank" title="Mapbox" aria-label="Mapbox" role="listitem">© Mapbox</a> <a href="https://www.openstreetmap.org/about/" target="_blank" title="OpenStreetMap" aria-label="OpenStreetMap" role="listitem">© OpenStreetMap</a> <a class="mapbox-improve-map" href="https://apps.mapbox.com/feedback/?owner=mapbox&amp;id=satellite-v9&amp;access_token=pk.eyJ1Ijoib3Blbndvb2RzIiwiYSI6ImNsZjNjaXg2MzBtNDgzb28xN2N6ZDNiM3IifQ.IyWyuTKi7EivffZkjFRpXQ#/-86.85288/33.329108/16" target="_blank" aria-label="Map feedback" role="listitem" rel="noopener nofollow">Improve this map</a> <a href="https://www.maxar.com/" target="_blank" title="Maxar" aria-label="Maxar" role="listitem">© Maxar</a></div></div></div>
/* <button class="mapboxgl-ctrl-attrib-button" type="button" aria-label="Toggle attribution" aria-expanded="true"><span class="mapboxgl-ctrl-icon" aria-hidden="true" title="Toggle attribution"></span></button> */
/* <button class="mapbox-gl-draw_ctrl-draw-btn mapbox-gl-draw_trash" title="Delete"></button>
<div class="mapboxgl-ctrl mapboxgl-ctrl-attrib mapboxgl-compact mapboxgl-compact-show"><button class="mapboxgl-ctrl-attrib-button" type="button" aria-label="Toggle attribution" aria-expanded="true"><span class="mapboxgl-ctrl-icon" aria-hidden="true" title="Toggle attribution"></span></button><div class="mapboxgl-ctrl-attrib-inner" role="list"><a href="https://www.mapbox.com/about/maps/" target="_blank" title="Mapbox" aria-label="Mapbox" role="listitem">© Mapbox</a> <a href="https://www.openstreetmap.org/about/" target="_blank" title="OpenStreetMap" aria-label="OpenStreetMap" role="listitem">© OpenStreetMap</a> <a class="mapbox-improve-map" href="https://apps.mapbox.com/feedback/?owner=mapbox&amp;id=satellite-v9&amp;access_token=pk.eyJ1Ijoib3Blbndvb2RzIiwiYSI6ImNsZjNjaXg2MzBtNDgzb28xN2N6ZDNiM3IifQ.IyWyuTKi7EivffZkjFRpXQ#/-86.85288/33.329108/16" target="_blank" aria-label="Map feedback" role="listitem" rel="noopener nofollow">Improve this map</a> <a href="https://www.maxar.com/" target="_blank" title="Maxar" aria-label="Maxar" role="listitem">© Maxar</a></div></div> */ */

/* make homepage light grey */

img {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 0;
  left: 0;
}

.select {
    float: left;
    position: left;
    width: 30%;
    float: left;
    margin-right: 10px;
    margin-bottom: 12px;
    margin-top: 12px;
    margin-left: 10px;
    padding: 10;
}

.final-price {
  position: absolute;
  bottom: calc(1in + 30px);
  left: 96px;
  right: calc(100% - 330px);
  font-size: 4em;
  font-weight: 600; /* bold font weight */
  letter-spacing: 1px; /* increased letter spacing */
  line-height: 1; /* reduced line height */
  font-family: 'Lato', sans-serif; /* modern sans-serif font.........Helvetica Neue */
}

/* Activity and State NOT BEING USED ANYMORE IN NEW APP*/
/* .dropdown-container {
  display: flex;
  justify-content: left; /* Change to left alignment */
  /* align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
  position: relative;
  left: 10px; */ */
  /* width: 45; */
/* } */

/* Activity and State */
.dropdown-button {
  color:#fe7159ff;
}

/* Activity and State */
.dropdown-button .dropdown-toggle {
  background-color: #fe7159ff;
  height: 40px;
  outline: none;
  box-shadow: none;
  border-radius: 0.5rem; /* Add rounded corners */
  border-color: #fe7159ff; /* Set the custom outline color */

}

/* Activity and State */
.dropdown-button .dropdown-toggle:focus {
  outline: none;
  box-shadow: none;
    border-color: #fe7159ff; /* Set the custom outline color */
}

/* Activity and State */
.dropdown-button .dropdown-toggle:active {
  background-color: #af4f3dff;
  box-shadow: none;
  border-color:  #af4f3dff;/* Set the custom outline color */
}
/* Activity and State */
.selected-item {
  background-color: #778184ff !important;
  color: white;
}
/* Activity and State */
.dropdown-menu .dropdown-item:hover {
  background-color: #778184ff;
  color: white;
}
/* Activity and State */
.dropdown-menu .dropdown-item:active,
.dropdown-menu .dropdown-item:focus {
  background-color: #778184ff;
  color: white;
}
/* Activity and State */
  .form-group label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    text-align: left;
    justify-content: flex-start;
    padding-left: 0; /* Remove the padding on the left */
    margin-right: 10px; /* Add margin to the right to create spacing between the label and container */
  }




/* Acreage and Duration */
.input-field {
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 8px;

  border: 1px solid gray;
  border-radius: 0 4px 4px 0;
  outline: none;
}